# Python Mark 1 Date: 7th May 2019 (Upto different loops)

In [64]:
print("I am iron man")

I am iron man

In [66]:
type(3)

int

In [67]:
type(3.0)

float

In [5]:
2**3

8

In [7]:
2//3

0

In [11]:
2!=3

True

In [12]:
max(2,4,5)

5

In [13]:
x=5
y=1
z=19
max(x,y,z)

19

In [19]:
#if-else loope
x=51
y=7223
z=321
if(x%2==0 and y%2==0 and z%2==0):
    print("All are even")
else:
    if(max(x,y,z)%2==0):
        if(max(x,y)>max(y,z)):
            if(max(y,z)%2==0):
                print("Max is ",min(y,z))
            else:
                print("Max is ",max(y,z))
        elif(max(x,y)<max(y,z)):
            if(max(y,x)%2==0):
                print("Max is ",min(y,x))
            else:
                print("Max is ",max(y,x))
        else:
            if(max(z,x)%2==0):
                print("Max is ",min(z,x))
            else:
                print("Max is ",max(z,x))
    else:
        print("Max is ",max(x,y,z))

Max is  7223

In [50]:
#List
list_1=[2,'ricky','who',4.1]
list_1
list_1[0]
list_1[:-3]+["arnab"]

[2, 'arnab']

In [53]:
#tuple
tuple_1=(2,'ricky')
tuple_1[1]

'ricky'

In [54]:
#input_output
num=input("Enter your favourite quote:")
print("Your favourite quote is '",num,"'")

Enter your favourite quote:I am ironman
Your favourite quote is ' I am ironman '

In [58]:
#for loop using a list
list_3=[2,3,4.1]
sum_1=0
for i in list_3:
    sum_1=sum_1+i
sum_1

9.1

In [62]:
#for loop using range function
sum_2=0
for i in range(1,11):
    sum_2=sum_2+i
sum_2

55

In [63]:
#while loop
num=10
sum_3=0
while num>0:
    sum_3=sum_3+num
    num=num-1
sum_3

55